footer { /* Posiziona il footer in basso */
    background: var(--primary);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 200px;
    padding-top: 14px;
}

#footerlogo {
    width: 68px;
    height: 68px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 48px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 18px 0;
}

.socials li{
    margin: 0 8px;
}
.socials a{
    text-decoration: none;
}

.footer-bottom {
    width: 100%;
    padding: 0 0 15px 0;
    text-align: center;
}

.footer-bottom p {
    color: var(--whitesmoke) !important;
    font-size: 14px;
    word-spacing: 2px;
}

.footer-content h3 {
    color: var(--whitesmoke) !important;
}

.footer-bottom a {
    color: var(--whitesmoke);
}